/*work_nav*/
.nav_bg{    background: #dcdcdc;
    border-radius: 0.5rem; -webkit-border-radius:0.5rem; -moz-border-radius:0.5rem;
    margin: 0 3px;
    color: black;
    }
a.nav_active{color: white; background:#f60; }
a.nav-item.is-tab:hover{border-bottom: 2px solid #f60;}

/*resveration---预约记录--------------------*/
.search_bg{
    background: #f4f8fb;
}
.r_search_m{padding:.75rem 0 .75rem .75rem; text-align: right;}
.r_search_m .el-select{margin: 0 -4px 0 0;}

.r_search_m .el-input__inner{border-radius: 4px 0 0 4px;}
.pad_l0 .el-input__inner{border-radius: 0 4px 4px 0;}
.r_search_date .el-input__inner{border-radius: 0;}

.r_search_m  .el-select, .r_search_m .el-input {
    width: 110px; 
  }

  .r_item{overflow: auto;}
  .r_item li{float: left; width: auto;     margin: 15px 1px 20px 20px; padding: 15px 20px; background: #e6e6e6;}

  .r_li_img{position: relative; line-height: 0;}
  .r_item_icon{position: absolute; top:-25px;    left: -18px;}

  .r_row li{float: none; margin: 8px 0 0 0; padding: 0; overflow: auto;}
  .r_row span{display: inline-block; float:left;}
  .r_listTitle{width:7rem; text-align: right;}
  .r_listCont{width: 6rem; text-align: left;}
  .r_edit{float: right;  color: #f60; cursor: pointer;}
  .r_edit:hover{color:#1e82dd ;}

  .r_button{background: #ecba38;}
    .r_button1{background:#1e82dd; }

  .r_button,.r_button1{ color: white; width: 13rem;}
  .r_button:hover,.r_button1:hover{background: #f60; color: white;}
  .r_but{background: #1e82dd; color: #ecba38; width: 8rem; margin: 0 15px 0 0;}
 

  .r_listCont .el-button{padding: 0;background: none; border:none; float: right;}
  .r_edit_but{display: inline-block;
    text-align: center;
    margin: 15px 10px 0; width: 5rem; color:#888888; }
   .r_edit_active{color: red;}

  .r_edit_ic.iconfont{font-size: 60px; text-align: center; margin: 0 0 25px;}
  .r_statuc .el-dialog__footer{text-align: center;}
  .r_statuc .el-button{float: none; background:#1e82dd; color: white; width: 4rem; height: 2rem; }
  .r_statuc .el-button span{display: inline-block; text-align: center;width: 100%;}
  .r_statuc .el-button:hover{color:#ecba38; }
  .r_edit_active:hover{color: red;}
       /*新加预约单*/
  .reservation .el-checkbox+.el-checkbox{margin-left:0; margin: 0 2px;}

/*服务开单---------------------------------------*/
.serviceBilling{position: relative;}
.se_bg_1{background:#dcdcdc; }
.se_tab{overflow-x: hidden;}
.se_tab .el-tabs--border-card>.el-tabs__header{background-color:#78c800; }
.se_tab .el-tabs__item{color: white;}
.se_tab .el-tabs__item.is-active{color: #f60; font-weight: bold;}
.se_tab .el-select{width: 227px;}

.address .el-input{width: 550px;}
.se_label .el-form-item__label{line-height: 1.5rem; color: #1e82dd; font-size: 1.2rem; padding: 0; text-align: center;}
.se_label.columns:not(:last-child){margin-bottom: 0;}
.se_label .column{padding: .75rem .75rem 0;}
.se_submit .column{text-align: center;    padding: 0 0 .75rem;}
.se_submitBut{width: 15rem;
    background: #f60;
    color: white;
    }
.se_submitBut span{display: inline-block; padding: 0 20px;}

           /*服务项目*/
.serviceBilling .el-table .cell, .el-table th>div{padding-left: 0; padding-right: 0;}
.serviceBilling .table td, .table th{padding: .2rem .2rem;}
.serviceBilling .el-input__inner{padding: 0 2px; text-align: center;}
.serviceBilling .cell{text-align: center;}
.el-table_1_column_3  span{text-align: left; display: inline-block; width: 80%;line-height: 39px;}
.el-table_1_column_3  .button{padding: .2rem; border-radius: 15px; -webkit-border-radius:15px; -moz-border-radius:15px;background: #839dd7; color: white;}
.serviceBilling .icon-icon19{font-weight:bolder; color:#ffb400; }

.serviceBilling .el-table__expanded-cell{padding: 0 0 0 19px;}
.aaa{background: red; color: white;}
.workerBut{text-align: center; padding: 0px 10px; background:#f4f8fb; }
.workerBut .button{margin: 0 15px; background:#1e82dd; color: white;}
.serviceBilling .total{display: inline-block; width: 30%; text-align: center; font-weight: bold;}
.serviceBilling .color1{color:#f60; }
.serviceBilling .border1{border: 1px solid #1e82dd;}
.serviceBilling .el-menu-item.is-active{color: black;}
.serviceBilling .click-active{color:#1e82dd !important; font-weight: bold; }
.workingPage{text-align: center; margin: 5px 0;}
.columnLeft .cell{text-align: left;}
.columnLeft{ padding-left:5px;}
.resultName{display: inline-block;
    width: 88%;}
a.del{color: black;}
a.del:hover{color: #1e82dd;}
.serviceBilling .el-table__body-wrapper{overflow: hidden;}
.addBut{display: inline-block; float: left; background: #1e82dd; color: white;}
        /*底部按钮*/
.se_bottom{position: fixed; width: 92%; bottom: -10px;  z-index: 101;}


/*服务记录------------------------------*/
        /*搜索*/
.serviceRecord .el-select,.serviceRecord .el-input{width:116px; margin: 0 0 0 5px;}
.serviceRecord .search_bg .el-date-editor--daterange.el-input{width: 260px;}
.s_many .el-input,.s_many .el-select{width: 260px;}
.s_many .el-select__tags{max-width:260px!important;}
.serviceRecord .search_bg .column{padding: .75rem 0 .75rem .75rem;}
.serviceRecord .search_bg p{margin: 10px 0 0 0;}
.s_search_but{width: 4rem;
    height: 5rem;
    background: #f60;
    margin: 8px 0 0 0; color: white; font-size: 2rem;}




/*分页*/
.page{background: #1e1e1e; position: fixed; z-index: 100; bottom: 0rem; color: white; width: 92%; text-align: center;}
.page .el-pagination{margin: 10px 0 ;}
.page .number{ border-radius: 0; margin: 0 3px;}
.page .el-pagination__total{color: white;}
.page input,.page button{margin: 0 6px;}

  .r_color1{color:#1e82dd; }
  .r_color2{color: #1e9600;}
/*-------------*/
.table{width: 100%;}
.mar_tl20{margin: 20px 0 0 20px;}
.mar_20{margin: 20px;}
.mar_t20l10{margin: 20px 10px 0;}
.mar_20_10{margin: 20px 10px;}

.mar_rl10{margin: 0 10px;}
.mar_brl10{margin: 0 10px 10px;}

.pad_l0{padding:.75rem .75rem .75rem 0;}


.text_r{text-align: right;}
