/*work_nav*/
.nav_bg{    background: #dcdcdc;
    border-radius: 0.5rem; -webkit-border-radius:0.5rem; -moz-border-radius:0.5rem;
    margin: 0 3px;
    color: black;
    }
a.nav_active{color: white; background:#f60; }
a.nav-item.is-tab:hover{border-bottom: 2px solid #f60;}

/*resveration---预约记录--------------------*/
.search_bg{
    background: #f4f8fb;
}
.r_search_m{padding:.75rem 0 .75rem .75rem; text-align: right;}
.r_search_m .el-select{margin: 0 -4px 0 0;}

.r_search_m .el-input__inner{border-radius: 4px 0 0 4px;}
.pad_l0 .el-input__inner{border-radius: 0 4px 4px 0;}
.r_search_date .el-input__inner{border-radius: 0;}

.r_search_m  .el-select, .r_search_m .el-input {
    width: 110px; 
  }

  .r_item{overflow: auto;}
  .r_item li{float: left; width: auto;     margin: 15px 1px 20px 20px; padding: 15px 20px; background: #e6e6e6;}

  .r_li_img{position: relative; line-height: 0;}
  .r_item_icon{position: absolute; top:-25px;    left: -18px;}

  .r_row li{float: none; margin: 8px 0 0 0; padding: 0; overflow: auto;}
  .r_row span{display: inline-block; float:left;}
  .r_listTitle{width:7rem; text-align: right;}
  .r_listCont{width: 6rem; text-align: left;}
  .r_edit{float: right;  color: #f60; cursor: pointer;}
  .r_edit:hover{color:#1e82dd ;}

  .r_button{background: #ecba38;}
    .r_button1{background:#1e82dd; }

  .r_button,.r_button1{ color: white; width: 13rem;}
  .r_button:hover,.r_button1:hover{background: #f60; color: white;}
  .r_but{background: #1e82dd; color: #ecba38; width: 8rem; margin: 0 15px 0 0;}
 

  .r_listCont .el-button{padding: 0;background: none; border:none; float: right;}
  .r_edit_but{display: inline-block;
    text-align: center;
    margin: 15px 10px 0; width: 5rem; color:#888888; }
   .r_edit_active{color: red;}

  .r_edit_ic.iconfont{font-size: 60px; text-align: center; margin: 0 0 25px;}
  .r_statuc .el-dialog__footer{text-align: center;}
  .r_statuc .el-button{float: none; background:#1e82dd; color: white; width: 4rem; height: 2rem; }
  .r_statuc .el-button span{display: inline-block; text-align: center;width: 100%;}
  .r_statuc .el-button:hover{color:#ecba38; }
  .r_edit_active:hover{color: red;}
       /*新加预约单*/
  .reservation .el-checkbox+.el-checkbox{margin-left:0; margin: 0 2px;}

/*服务开单---------------------------------------*/
.se_bg_1{background:#dcdcdc; }
.se_tab .el-tabs--border-card>.el-tabs__header{background-color:#78c800; }
.se_tab .el-tabs__item{color: white;}
.se_tab .el-tabs__item.is-active{color: #f60; font-weight: bold;}

/*服务记录------------------------------*/
        /*搜索*/
.serviceRecord .el-select,.serviceRecord .el-input{width:116px; margin: 0 0 0 5px;}
.serviceRecord .search_bg .el-date-editor--daterange.el-input{width: 260px;}
.s_many .el-input,.s_many .el-select{width: 260px;}
.s_many .el-select__tags{max-width:260px!important;}
.serviceRecord .search_bg .column{padding: .75rem 0 .75rem .75rem;}
.serviceRecord .search_bg p{margin: 10px 0 0 0;}
.s_search_but{width: 4rem;
    height: 5rem;
    background: #f60;
    margin: 8px 0 0 0; color: white; font-size: 2rem;}




/*分页*/
.page{background: #1e1e1e; position: fixed; bottom: 0rem; color: white; width: 100%; text-align: center;}
.page .el-pagination{margin: 10px 0 ;}
.page .number{ border-radius: 0; margin: 0 3px;}
.page .el-pagination__total{color: white;}
.page input,.page button{margin: 0 6px;}

  .r_color1{color:#1e82dd; }
  .r_color2{color: #1e9600;}
/*-------------*/
.mar_tl20{margin: 20px 0 0 20px;}
.mar_20{margin: 20px;}

.pad_l0{padding:.75rem .75rem .75rem 0;}


.text_r{text-align: right;}